.cook-body {
	background-color: #333;
	margin: 0
}

.cook-body--scrollfreeze {
	overflow: hidden
}

.cook-app {
	color: rgba(0, 0, 0, .87);
	font-size: 14px;
	line-height: 20px;
	font-family: Roboto, Noto, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.cook-app[v-cloak] {
	display: none
}

@-webkit-keyframes cook-contactdialog__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-moz-keyframes cook-contactdialog__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-o-keyframes cook-contactdialog__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes cook-contactdialog__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.cook-contactdialog__error {
	color: #182229;
	font-size: 13px;
	padding: 14px 6px
}

.cook-contactdialog__submit {
	-webkit-transition: -webkit-transform .5s, -webkit-border-radius .05s;
	transition: -webkit-transform .5s, -webkit-border-radius .05s;
	-o-transition: border-radius .05s, -o-transform .5s;
	-moz-transition: transform .5s, border-radius .05s, -moz-transform .5s, -moz-border-radius .05s;
	transition: transform .5s, border-radius .05s;
	transition: transform .5s, border-radius .05s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s, -webkit-border-radius .05s, -moz-border-radius .05s;
	position: relative;
	background-color: #182229;
	float: right;
	margin-top: 8px
}

.cook-contactdialog__submit--done {
	font-size: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(-106px, -100px) scale(50);
	-moz-transform: translate(-106px, -100px) scale(50);
	-ms-transform: translate(-106px, -100px) scale(50);
	-o-transform: translate(-106px, -100px) scale(50);
	transform: translate(-106px, -100px) scale(50);
	cursor: default
}

.cook-contactdialog__doneicon {
	background: url(../images/ic_check_white_24px.jpg) no-repeat -3px -4px/24px 24px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transform: scale(.15);
	-moz-transform: scale(.15);
	-ms-transform: scale(.15);
	-o-transform: scale(.15);
	transform: scale(.15);
	height: 24px;
	width: 24px
}

.cook-contactdialog__submit--done .cook-contactdialog__doneicon {
	-webkit-animation: cook-contactdialog__fadein .5s .5s forwards;
	-moz-animation: cook-contactdialog__fadein .5s .5s forwards;
	-o-animation: cook-contactdialog__fadein .5s .5s forwards;
	animation: cook-contactdialog__fadein .5s .5s forwards
}

.cook-contactdialog__textfield {
	color: #182229;
	margin-top: -16px
}

@-webkit-keyframes cook-dialogwrapper__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-moz-keyframes cook-dialogwrapper__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@-o-keyframes cook-dialogwrapper__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes cook-dialogwrapper__fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.cook-dialogwrapper {
	-webkit-animation: cook-dialogwrapper__fadein .2s;
	-moz-animation: cook-dialogwrapper__fadein .2s;
	-o-animation: cook-dialogwrapper__fadein .2s;
	animation: cook-dialogwrapper__fadein .2s;
	background: rgba(0, 0, 0, .32);
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10
}

@-webkit-keyframes cook-dialog__zoomin {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-moz-keyframes cook-dialog__zoomin {
	0% {
		-moz-transform: scale(0);
		transform: scale(0)
	}

	to {
		-moz-transform: scale(1);
		transform: scale(1)
	}
}

@-o-keyframes cook-dialog__zoomin {
	0% {
		-o-transform: scale(0);
		transform: scale(0)
	}

	to {
		-o-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes cook-dialog__zoomin {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0)
	}

	to {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}
}

.cook-dialog {
	-webkit-animation: cook-dialog__zoomin .2s;
	-moz-animation: cook-dialog__zoomin .2s;
	-o-animation: cook-dialog__zoomin .2s;
	animation: cook-dialog__zoomin .2s;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
	margin: 48px auto;
	max-width: 100%;
	max-width: -webkit-calc(100% - 48px);
	max-width: -moz-calc(100% - 48px);
	max-width: calc(100% - 48px);
	position: relative;
	width: 350px
}

.cook-dialog__header {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #182229;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	padding-right: 8px
}

.cook-dialog__headericon {
	margin: 0 24px
}

.cook-dialog__title {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font: 20px/64px Roboto Slab, Roboto, Arial, sans-serif
}

.cook-dialog__subtitle {
	font: 300 20px Roboto, Arial, sans-serif
}

.cook-dialog__content {
	padding: 0 24px 24px;
	min-height: 250px;
	line-height: 1.25em;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

@media screen and (max-width:500px) {
	.cook-dialog {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		max-width: none
	}

	.cook-dialog__content {
		height: -webkit-calc(100% - 60px);
		height: -moz-calc(100% - 60px);
		height: calc(100% - 60px);
		overflow-y: auto
	}
}

.cook-header {
	background-color: #182229;
	background-repeat: no-repeat;
	background-image: url(../images/header.jpg), -webkit-gradient(linear, left top, left bottom, from(#182229), to(#182229));
	background-image: url(../images/header.jpg), -webkit-linear-gradient(#182229, #182229);
	background-image: url(../images/header.jpg), -moz-linear-gradient(#182229, #182229);
	background-image: url(../images/header.jpg), -o-linear-gradient(#182229, #182229);
	background-image: url(../images/header.jpg), linear-gradient(#182229, #182229);
	background-position: center 62px, 0 210px;
	-webkit-background-size: 660px 235px, 100% 118px;
	-moz-background-size: 660px 235px, 100% 118px;
	-o-background-size: 660px 235px, 100% 118px;
	background-size: 660px 235px, 100% 118px;
	height: 392px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	-webkit-transform: translateY(-328px);
	-moz-transform: translateY(-328px);
	-ms-transform: translateY(-328px);
	-o-transform: translateY(-328px);
	transform: translateY(-328px);
	margin-top: 328px;
	margin-bottom: -328px;
	z-index: 8
}

@media (-o-min-device-pixel-ratio:2/1),
(-webkit-min-device-pixel-ratio:2),
(min--moz-device-pixel-ratio:2),
(min-resolution:192dpi) {
	.cook-header {
		background-image: url(../images/header@2x.jpg), -webkit-gradient(linear, left top, left bottom, from(#182229), to(#182229));
		background-image: url(../images/header@2x.jpg), -webkit-linear-gradient(#182229, #182229);
		background-image: url(../images/header@2x.jpg), -moz-linear-gradient(#182229, #182229);
		background-image: url(../images/header@2x.jpg), -o-linear-gradient(#182229, #182229);
		background-image: url(../images/header@2x.jpg), linear-gradient(#182229, #182229)
	}
}

.cook-header__actions {
	float: right;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 12px
}

.cook-header__subtitle {
	color: #fff;
	height: 64px;
	background: #182229;
	margin: 0;
	text-align: center;
	font: 20px/64px Roboto Slab, Roboto, Arial, sans-serif;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: color .2s, -webkit-box-shadow .2s;
	transition: color .2s, -webkit-box-shadow .2s;
	-o-transition: box-shadow .2s, color .2s;
	-moz-transition: box-shadow .2s, color .2s, -moz-box-shadow .2s;
	transition: box-shadow .2s, color .2s;
	transition: box-shadow .2s, color .2s, -webkit-box-shadow .2s, -moz-box-shadow .2s;
	position: absolute;
	width: 100%;
	bottom: 0
}

.cook-header--compact .cook-header__actions {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9
}

.cook-header--compact .cook-header__subtitle {
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
	box-shadow: 0 4px 8px rgba(0, 0, 0, .28)
}

.cook-header__compactlogo {
	font: 20px/64px Roboto Slab, Roboto, Arial, sans-serif;
	position: fixed;
	left: 0;
	z-index: 10;
	margin: 0;
	padding-left: 64px;
	background-image: url(../images/logo.png);
	-webkit-background-size: 48px 48px;
	-moz-background-size: 48px;
	-o-background-size: 48px;
	background-size: 48px;
	background-repeat: no-repeat;
	background-position: 8px;
	color: #fff;
	bottom: 0;
	display: none
}

.cook-header--compact .cook-header__compactlogo {
	display: block
}

@media (max-width:650px) {
	.cook-header--compact .cook-header__subtitle {
		color: rgba(0, 0, 0, 0)
	}
}

.cook-collection {
	width: 1216px;
	margin: auto;
	display: block;
	padding: 16px 0;
	line-height: 0
}

@media (max-width:1215px) {
	.cook-collection {
		width: 912px
	}
}

@media (max-width:911px) {
	.cook-collection {
		width: 608px
	}
}

@media (max-width:640px) {
	.cook-collection {
		width: 304px
	}
}

@-webkit-keyframes cook-appicon__flyintotop {
	0% {
		-webkit-transform: translateY(100vh);
		transform: translateY(100vh)
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@-moz-keyframes cook-appicon__flyintotop {
	0% {
		-moz-transform: translateY(100vh);
		transform: translateY(100vh)
	}

	to {
		-moz-transform: translateY(0);
		transform: translateY(0)
	}
}

@-o-keyframes cook-appicon__flyintotop {
	0% {
		-o-transform: translateY(100vh);
		transform: translateY(100vh)
	}

	to {
		-o-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes cook-appicon__flyintotop {
	0% {
		-webkit-transform: translateY(100vh);
		-moz-transform: translateY(100vh);
		-o-transform: translateY(100vh);
		transform: translateY(100vh)
	}

	to {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0)
	}
}

.cook-appicon {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	background: #424242;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
	margin: 16px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 300px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	width: 272px
}

.cook-appicon--animating {
	visibility: hidden
}

.cook-collection--loaded>.cook-appicon--animating {
	-webkit-animation: cook-appicon__flyintotop .2s backwards;
	-moz-animation: cook-appicon__flyintotop .2s backwards;
	-o-animation: cook-appicon__flyintotop .2s backwards;
	animation: cook-appicon__flyintotop .2s backwards;
	visibility: visible
}

.cook-appicon__thumbnail {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-pack: center;
	-ms-flex-align: center
}

.cook-appicon__details,
.cook-appicon__thumbnail {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	width: 100%
}

.cook-appicon__details {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-moz-box-flex: 0;
	-ms-flex: none;
	flex: none;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 8px
}

.cook-appicon__title {
	font: 300 20px Roboto, Arial, sans-serif;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 72px;
	margin: 0 16px;
	color: #fff
}

.cook-appicon__newtab {
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s
}

.cook-appicon__newtab:not(:hover) {
	opacity: .54
}
